[client]
port		= 3306
socket		= /var/run/mysqld/mysqld.sock

[mysqld_safe]
socket		= /var/run/mysqld/mysqld.sock
nice		= 0

[mysqld]
#
# * Basic Settings
#
user		= mysql
pid-file	= /var/run/mysqld/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
port		= 3306
basedir		= /usr/local/mysql
datadir		= /mnt/ebs/mysql-data/mysql
tmpdir		= /mnt/ebs/mysql-misc/tmp
language	= /usr/local/mysql/share/english

default_table_type = innodb
skip-external-locking
skip_name_resolve
skip-slave-start
federated
log-slave-updates
innodb_lock_wait_timeout = 600
table_lock_wait_timeout = 600

bind-address		= 0.0.0.0

#
# * Fine Tuning
#
wait_timeout			 =  300
max_tmp_tables                   =  3000

innodb_flush_log_at_trx_commit   =  2
innodb_flush_method   =  O_DIRECT

innodb_buffer_pool_size          =  10G
innodb_log_buffer_size           =  4M
innodb_log_file_size             =  256M
#innodb_doublewrite = 0
innodb_data_file_path            = ibdata1:10G;ibdata2:10G;ibdata3:10G;ibdata4:10G;ibdata5:10G;ibdata6:10G:autoextend

key_buffer		= 1G
max_allowed_packet	= 16M
thread_stack		= 1M
thread_cache_size	= 1M
max_connections        =  15000
table_cache            = 4000
open-files-limit	= 8096
thread_concurrency     = 10
query_cache_limit       = 16M
query_cache_size        = 1G
sort_buffer_size = 32M
net_buffer_length = 1M
#
read_buffer_size = 4M
#
read_rnd_buffer_size = 10M
myisam_sort_buffer_size = 256M
join_buffer_size = 10M

tmp_table_size = 2G
#
max_heap_table_size = 2G

#
# * Logging and Replication
#
# Both location gets rotated by the cronjob.
# Be aware that this log type is a performance killer.
#log		= /var/log/mysql/mysql.log
#
# Error logging goes to syslog. This is a Debian improvement :)
#
# Here you can see queries with especially long duration. MAKE SURE YOU HAVE WRITE PERMISSION

log_slow_queries	= /mnt/ebs/mysql-misc/slog/mysql-slow.log
long_query_time = 3

#log-queries-not-using-indexes
#
# The following can be used as easy to replay backup logs or for replication.
# note: if you are setting up a replication slave, see README.Debian about
#       other settings you may need to change.
#server-id		= 1
log_bin			= /mnt/ebs/mysql-misc/logs/mysql-bin.log
log-error		= /mnt/ebs/mysql-misc/elog/mysqld.err
# WARNING: Using expire_logs_days without bin_log crashes the server! See README.Debian!
expire_logs_days	= 10
max_binlog_size         = 100M
#binlog_do_db		= include_database_name
#binlog_ignore_db	= include_database_name

[mysqldump]
quick
quote-names
max_allowed_packet	= 16M

[mysql]
#no-auto-rehash	# faster start of mysql but no tab completition

[isamchk]
key_buffer		= 16M

#
# * NDB Cluster
#
# See /usr/share/doc/mysql-server-*/README.Debian for more information.
#
# The following configuration is read by the NDB Data Nodes (ndbd processes)
# not from the NDB Management Nodes (ndb_mgmd processes).
#
# [MYSQL_CLUSTER]
# ndb-connectstring=127.0.0.1


#
# * IMPORTANT: Additional settings that can override those from this file!
#
!includedir /etc/mysql/conf.d/
