#!/bin/bash

# Define some variables:
CONFIGHOST="themaster.lockerz.com"
KEY=$HOME/themaster.pem
CONFIGPATH=/svn/pulpit/current/sysconfig/

# Create our private key:
echo "-----BEGIN RSA PRIVATE KEY-----
MIIEowIBAAKCAQEAoKf+XEa189uZpaKcxMd1+nhyEL1o8hy1C32tp7YewTqGfyowLlK2b9CW15YN
K5AVXtbaekexe0eO6qeuVnvjK1Q2MNoH6r0gmdnhyaTkt9SYWjoRoFWamt5z/un3uMn19O8hL6L0
ryU798JIJVnokmUzjg04NkrpXJxloUk9NhJXlcv+HCE9OQex+uaJ5xt3qgfecacGfgd/robrtdsn
/glXah+URfsKeCmjgpvTVIqJbGPuPbd0InjR57nH/Y0QAiI/i7EYvfWk762jnlJcOpErt+5QlBeL
npFehjNZQXJabc2ogxzyEezXAP3CRfETs4yCchLOngNLtpG6K+11/QIDAQABAoIBAGLuMFdYf9FU
CHCUC1+tyDveEbe3O7nj7aTO1rHxF008IfiK3TKZYpjGZS0KzL9nsZE+Uzl7jpJwxVRAv72n+oMD
D3/Ts45cuoejQUPv05xUQSFGovYN4O+/TsTKBO75Bwm2e8Qe3/g+wIfYTp8Zl3sW8MFn6JaeWMfb
00WXmScC9mPsIfz0oFBra3gH9y872FAshFvYnl2uCDMbOFlwYLYy1qXtP7vPfuEJG16OEOQjOVM/
pbc0mgia4LUXqVnf2V6iGS2UcsIcjK0sA/jopKFZhT4segGpA7/TrCEh76oB9PiCPSkQ2MDIvv31
ccsERVUNbakAtwj51ene59gj/OECgYEA6LOQGTF/j6VRRjTQSnFUrzbP3MfK7QZJ1eVjqf8CS5f1
CuLsMUwm7ZkAU/t+1+sjoJ79CdHwwDhLtoisRRO7cy34zo0UB4p2f77kvni7Ed/dY68yNy5+3H4O
uAk2BjFXpJ3RY4tBFc5imvGwDLHQY78lppUxTnst1FBPoeSRYUUCgYEAsL3R0hhbbF+AekC7xvQZ
NjqELksTuSkbEgGy81TJVNSieWV5Pfy7fV7KVb13h/RYxfyii7Ju4im+a1EyTNoEItlHLI0u+cCg
8bWcYFX7Eyd6fZIw/NTsNhCCeRcBq8Tn6ZptSQaqDATomAjOHrlBTyPQU2azgsBipT61VKEh4VkC
gYEAi7g1D0tvIhrK//J6FhiSFlo82H2F1GdwMeP3wXyCLk1hLlYuJzNoNEUns0VQVeizjZ+ooxrR
CTlEDKdneFputKuntq1yl0yF9hHyWoM3H3ZhAZeR+RwLw+xUfh/ZtkIuM4Mm1DQqsiMnhY0UfarO
SvXcb3cpEcxYKiDGj5gjylkCgYBbcvw8DypO2uNpXlFK0kaxTnnSUjp0VhaRrJthWH+MCzG+Soj/
T+PbLM7Yql5M1FuSpfOdAMhq8Vp7wNmb9jqppW80WCD0TX15U5UEK7jr4kN48cmzKKDIIKbB7OuK
aynsL2FYpcAa0/ddo0CzmPt37Xn/jWZYwx7HjbjZfz4+kQKBgCxPnXp+qyZhnPfDB8tChgs7mftv
G+N93IH/OzzC+NTTA46cNnJjc8seVW6b57qAfwPy2mlw1SK7FPxoNEbDDkVWTvplbGtRc7ooGBvb
nFeaS4c6F89mod1QAJaXsbuf6BmVou6b4fMhaFhypEC0vSOlSPec9K6ybirXlmbAEoST
-----END RSA PRIVATE KEY-----" > $KEY
chmod 500 $KEY

# Get our config files into place:
rsync --exclude .svn -ae "ssh -o StrictHostKeyChecking=no -i $KEY" $CONFIGHOST:$CONFIGPATH /

# Restart ssh:
/etc/init.d/ssh restart

# Append SNMP configs:
LOCKERZSNMPTEST=`grep "# Lockerz configs" /etc/snmp/snmpd.conf | wc -l`
if [ "$LOCKERZSNMPTEST" = "0" ]; then
	cat /tmp/snmpd.conf.append >> /etc/snmp/snmpd.conf
	/etc/init.d/snmpd restart
fi

# Set timezone to UTC:
mv /etc/localtime /etc/localtime.backup; ln -s /usr/share/zoneinfo/UTC /etc/localtime

# Remove private key:
rm $KEY

# Set up some Cacti configs:
userdel monitor
adduser --disabled-password --gecos monitor,,,, monitor
mkdir -p /home/monitor/.ssh/
echo "ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAxMINEYR5d0hXAnYHJgr9/oX+wkZSud7rm+3sdBy64RGlStNXYE8qksVrDSidan2n0Z2p7X36Ub6+cw3pGaPMQHzXwNwCeFyvn8vSgi78659qHAW6R8eVlTKmtERLc5x8Jm6CQE3GfbOGxPOKVlS5lI13ErLaIVxjL2drMzqlqh/mb/6hSuzHbfL/9BPPfl432EQi6+s/P9vdSQlIKlZhyYkqZIA+TlZGJAXSxqmr29CmQXZqWjGFFtPcdQZpy3GDqlhNeT2DZ6ce4qiFv0yi2qbNAE0ZpuGWenEXFnWTSFMPYkFrTT3CLqxAlvTB+cBIzUOIjhlmeXGIgcWQ0JVQaQ== monitor@ec2-174-129-139-121.compute-1.amazonaws.com" >> /home/monitor/.ssh/authorized_keys
chown -R monitor /home/monitor
chmod 400 /home/monitor/.ssh/authorized_keys

# Set up Nagios configs:
# Install the server and the plugins
/usr/bin/apt-get install nagios-nrpe-server

/usr/bin/apt-get install -y nagios-plugins

# Write the local config file
/bin/cat > /etc/nagios/nrpe_local.cfg << EOF
allowed_hosts=10.254.234.143
command[check_sda1]=/usr/lib/nagios/plugins/check_disk -w 20 -c 10 -p /dev/sda1
command[check_sdb]=/usr/lib/nagios/plugins/check_disk -w 20 -c 10 -p /dev/sdb
command[check_md3]=/usr/lib/nagios/plugins/check_disk -w 20 -c 10 -p /dev/md3
command[check_md0]=/usr/lib/nagios/plugins/check_disk -w 20 -c 10 -p /dev/md0
command[check_md1]=/usr/lib/nagios/plugins/check_disk -w 20 -c 10 -p /dev/md1
command[check_procs]=/usr/lib/nagios/plugins/check_procs
command[check_mysql_proc]=/usr/lib/nagios/plugins/check_procs -C mysqld -c 1:1
command[check_podservice_proc]=/usr/lib/nagios/plugins/check_procs -c 1:1 -C java -a com.lockerz.phoenix.pod.PodServiceMain
command[check_userservice_proc]=/usr/lib/nagios/plugins/check_procs -c 1:1 -C java -a com.lockerz.phoenix.user.UserServiceMain
command[check_authenticationservice_proc]=/usr/lib/nagios/plugins/check_procs -c 1:1 -C java -a com.lockerz.phoenix.authentication.AuthenticationServiceMain
command[check_emailservice_proc]=/usr/lib/nagios/plugins/check_procs -c 1:1 -C java -a com.lockerz.phoenix.email.EmailServiceMain
command[check_invitationservice_proc]=/usr/lib/nagios/plugins/check_procs -c 1:1 -C java -a com.lockerz.phoenix.invitation.InvitationServiceMain
command[check_dailiesservice_proc]=/usr/lib/nagios/plugins/check_procs -c 1:1 -C java -a com.lockerz.phoenix.dailies.DailiesServiceMain
command[check_ptzservice_proc]=/usr/lib/nagios/plugins/check_procs -c 1:1 -C java -a com.lockerz.phoenix.ptz.PtzServiceMain
command[check_hallwayservice_proc]=/usr/lib/nagios/plugins/check_procs -c 1:1 -C java -a com.lockerz.phoenix.hallway.HallwayServiceMain
command[check_locatorservice_proc]=/usr/lib/nagios/plugins/check_procs -c 1:1 -C java -a com.lockerz.phoenix.locator.LocatorServiceMain
command[check_phoenixservice_procs]=/usr/lib/nagios/plugins/check_procs -c 1: -C java -a phoenix
command[check_apache2_proc]=/usr/lib/nagios/plugins/check_procs -c 5:150 -w 5:100 -C apache2
command[check_nginx_master_proc]=/usr/lib/nagios/plugins/check_procs -c 1:1 -C nginx -a master             
command[check_nginx_worker_proc]=/usr/lib/nagios/plugins/check_procs -c 4:4 -C nginx -a worker             
command[check_memcached_proc]=/usr/lib/nagios/plugins/check_procs -c 1:1 -C memcached             
command[check_memcached_multi_proc]=/usr/lib/nagios/plugins/check_procs -c 10:10 -C memcached             
EOF

# And signal the server to re-read the config
/etc/init.d/nagios-nrpe-server reload
