<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
           
	<import resource="classpath:com/lockerz/phoenix/jms/applicationContext-jmsMessaging.xml" />
	<import resource="classpath:com/lockerz/phoenix/photos/applicationContext-fwbPhotoService-dao.xml" />
	
	<bean id="fwbPhotoService" class="com.lockerz.phoenix.photos.FwbPhotoService">
		<property name="fwbPhotoServiceServant" ref="fwbPhotoServiceServant"/>
	</bean>
	
	<bean id="fwbPhotoServiceServant" class="com.lockerz.phoenix.photos.FwbPhotoServiceI">
		<property name="photoMetricsMasterDao" ref="photoMetricsMasterDao"/>
		<property name="photoMetricsSlaveDao" ref="photoMetricsSlaveDao"/>
		<property name="photoStreamMasterDao" ref="photoStreamMasterDao"/>
		<property name="photoStreamSlaveDao" ref="photoStreamSlaveDao"/>
	</bean>
	
</beans>
