<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

        <import resource="classpath:com/lockerz/phoenix/applicationContext-phoenix.xml"/>
        <import resource="classpath:com/lockerz/phoenix/dao/applicationContext-dao.xml"/>
        <import resource="classpath:com/lockerz/phoenix/invitation/applicationContext-invitationService-dao.xml"/>

        <bean id="invitationService" class="com.lockerz.phoenix.invitation.InvitationService">
                <property name="invitationServiceServant" ref="invitationServiceServant"/>
        </bean>

        <bean id="invitationServiceServant" class="com.lockerz.phoenix.invitation.InvitationServiceI">
                <property name="invitationDAO" ref="invitationDAO"/>
        </bean>

</beans>
