<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
           
    <bean id="mediaDAO" class="com.lockerz.phoenix.media.dao.impl.MediaDAOJDBC" parent="basicDAO">
                <property name="dataSource" ref="slaveDataSource" />
                <property name="masterDataSource" ref="masterDataSource"/>
        </bean>
        
        <bean id="masterDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
                <constructor-arg value="mediaMaster"/>
        </bean>
        
        <bean id="slaveDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
                <constructor-arg value="mediaSlave"/>
        </bean>
           
</beans>
