##
# Command definitions for openmq services
#
# @author   Bryan Kroger ( bryan@lockerz.com )
# @copyright 2011 lockerz.com

define command {
  command_name    checkForCouchDB
  command_line    $USER1$/check_nrpe -H $HOSTADDRESS$ -c check_couchdb_proc
}

define command {
  command_name    checkForChefServer
  command_line    $USER1$/check_nrpe -H $HOSTADDRESS$ -c check_chefserver_proc
}

define command {
  command_name    checkForChefServerWebUI
  command_line    $USER1$/check_nrpe -H $HOSTADDRESS$ -c check_chefserverwebui_proc
}

