<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
           
	<import resource="classpath:com/lockerz/phoenix/applicationContext-phoenix.xml"/>
	<import resource="classpath:com/lockerz/phoenix/dao/applicationContext-dao.xml"/>
 	<import resource="classpath:com/lockerz/phoenix/ptz/applicationContext-ptzService-dao.xml"/> 

	<bean id="ptzService" class="com.lockerz.phoenix.ptz.PtzService">
		<property name="ptzServiceServant" ref="ptzServiceServant"/>
		<property name="ptzServiceAdminServant" ref="ptzServiceAdminServant"/>
	</bean>
	
	<bean id="ptzServiceServant" class="com.lockerz.phoenix.ptz.PtzServiceI">
		<property name="ptzTypeDAO" ref="ptzTypeDAO"/>
	</bean>
		
	<bean id="ptzServiceAdminServant" class="com.lockerz.phoenix.ptz.PtzServiceAdminI">
		<constructor-arg>
			<ref bean="ptzServiceServant"/>
		</constructor-arg>
	</bean>
	
</beans>
