<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<import resource="classpath:com/lockerz/phoenix/dao/applicationContext-mongo-dao.xml"/>
		
	<!--  masterNewsFeedDAO publishes the event to mongo. so use mongoMasterServer -->
	<bean id="masterNewsFeedDAO" class="com.lockerz.phoenix.hallway.dao.impl.HallwayNewsFeedDAOMongo">
    	<constructor-arg ref="mongoMasterServer"/>
    	<constructor-arg value="${mongodb.newsfeed.dbname}"/>
    </bean> 

</beans>
