# if your starting with a new DB for whatever reason you should comment out the replication configs below,
# # then re-enable them after you have configured the slave as a slave, and restart mysql again.
#
# sample commands to get you up and going on a new DB
# mysql> GRANT CREATE,INDEX, CREATE TEMPORARY TABLES,DELETE,EXECUTE,INSERT,LOCK TABLES,SELECT,TRIGGER,UPDATE on `openmq`.* TO 'openmq'@'%' IDENTIFIED BY "uat-openmq";
# mysql> GRANT CREATE,INDEX, CREATE TEMPORARY TABLES,DELETE,EXECUTE,INSERT,LOCK TABLES,SELECT,TRIGGER,UPDATE on `openmq`.* TO 'openmq'@'localhost' IDENTIFIED BY "uat-openmq";
# mysql> CREATE USER 'replicant'@'%' IDENTIFIED BY 'uatreplication';
# mysql> GRANT REPLICATION SLAVE ON *.* TO 'replicant'@'%';
# mysql> flush privileges;
# then stop mysql on both master +slave
# rsync mysql data from master to slave (delete slave data first /var/lib/mysql usually)
# start mysql on slave
# run 'show master status' on master
# on slave run
# mysql> CHANGE MASTER TO MASTER_HOST='uat00-jms-01.iad1.lockerz.us', MASTER_USER='replicant', MASTER_PASSWORD='uatreplication', MASTER_LOG_FILE='jms-bin.000005', MASTER_LOG_POS=106;
# change MASTER_LOG_FILE and MASTER_LOG_POS as needed (and host too if you need to)
# mysql> start slave;
# mysql> show slave status\G;
#
[mysqld]
user		= mysql
socket		= /var/lib/mysql/mysql.sock
# this appears to only work on the command line
#log-bin		= /var/lib/mysql_logs/prod-mysql-3b-bin

slow_query_log = 1
slow_query_log_file	= /var/lib/mysql/slowqueries.log
relay-log-index		= /var/lib/mysql/jms-relay-bin.index
relay-log-info-file	= /var/lib/mysql/relay-log.info
relay-log		= /var/lib/mysql/jms-relay-bin.log
log-queries-not-using-indexes

skip-external-locking
key_buffer = 50M
#key_buffer = 350M
bulk_insert_buffer_size = 8M
max_user_connections = 500
max_connections = 500
max_allowed_packet = 64M
table_cache = 1000
sort_buffer_size = 8M
read_buffer_size = 2M
read_rnd_buffer_size = 8M
myisam_sort_buffer_size = 8M
#myisam_sort_buffer_size = 80M
thread_cache = 8
query_cache_size = 16M
# Try number of CPU's*2 for thread_concurrency
thread_concurrency = 4
innodb_file_per_table
log-warnings
innodb_buffer_pool_size=256M
innodb_additional_mem_pool_size=2M
default-storage-engine=innodb
long_query_time = 1
innodb_log_file_size = 64M
#set-variable = tmpdir=/var/lib/mysql/tmp

#
# master/slave replication settings
#

log-bin=jms-bin
#replicate-ignore-db=mysql
#slave_compressed_protocol = 1
#log_slave_updates = 1

# required unique id between 1 and 2^32 - 1. Defaults to 1 if
# master-host is not set but will not function as a master if omitted
server-id	= 2570042433


#
# settings for mysql-related apps (ask Mark about these)
#

[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
no-auto-rehash
# Remove the next comment character if you are not familiar with SQL
#safe-updates
[isamchk]
key_buffer = 32M
sort_buffer_size = 32M
read_buffer = 2M
write_buffer = 2M

[myisamchk]
key_buffer = 32M
sort_buffer_size = 32M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout

