<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xutil="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
           http://xml.theplatform.com/schema/extensions http://xml.theplatform.com/schema/extensions/extensions.xsd">

    <import resource="classpath:com/lockerz/phoenix/applicationContext-phoenix.xml"/>

    <bean id="thePlatformMetadataProvider"
          class="com.lockerz.phoenix.content.metadata.theplatform.ThePlatformMetadataProvider">
    </bean>

</beans>
