{{#partial "title"}} Register {{/partial}}
{{ require_css "/static/css/login.css" }}
	 <form class="form-signin" method="POST" action="user/register">
	 			 <h2 class="form-signin-heading"></h2>
				 <input name="Email" type="text" class="input-block-level" placeholder="Email address">
				 <input name="Password" type="password" class="input-block-level" placeholder="Password">
                 {{checkbox "remember-me" "Remember Me"}}
         <button class="btn btn-large btn-primary" type="submit">Sign in</button>
   </form>
