<configuration debug="false">

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${app.home}/log/${app.name:-app}.log</file>

    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${app.home}/log/${app.name:-app}.log.%d{yyyy-MM-dd}</fileNamePattern>

      <maxHistory>30</maxHistory>
    </rollingPolicy>

    <encoder>
      <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="ch.qos.logback" level="WARN"/>
  <logger name="openjpa.Query" level="TRACE"/>
  <logger name="openjpa.Runtime" level="TRACE"/>
  <logger name="openjpa.jdbc.SQL" level="TRACE"/>

  <root level="INFO">
    <appender-ref ref="FILE" />
  </root>

</configuration>
